.tag {
  padding: 2px 12px;
  border-radius: 20px;
  background-color: #f2e2cb;
  color: #AF5C09;
  margin: 0 5px;
  margin-bottom: 8px;
  display: inline-block;
  vertical-align: top;
  @apply text-xs;
}

.tag::selection {
  color: #f2e2cb;
  background-color: #af5c09;
}