.btnBack {
  display: inline-block;
  color: #a4958b;
  margin-left: -5px;
  transition: .3s ease;
}

.btnBack:hover {
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer;
}

.btnBack:active {
  transform: translateX(-3px);
}