.markdown h1,
.markdown h2,
.markdown h3,
.markdown h4,
.markdown h5 {
  @apply my-5;
}

.markdown ul,
.markdown ol {
  @apply my-5 p-0;
  margin-left: 1em;
}
.markdown ul li,
.markdown ol li {
  margin-bottom: 0.5rem;
}

.markdown blockquote {
  @apply md:my-5 my-3 mx-0 md:pl-5 pl-3;  
  border-left: 4px solid #f2e2cb;
}

.markdown ul::marker, 
.markdown ol::marker,
.markdown li::marker {
  color: #AF5C09;
}

.markdown img {
  @apply py-1 align-middle;
  max-width: 100%;
}

.markdown a {
  @apply text-gray-500;
  position: relative;
}

.markdown a::before {
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0.8em;
  height: 2px;
  content: '';
  display: block;
}

.markdown a::after {
  content: '';
  display: inline-block;
  background-image: url('../../assets/svg/link.svg');
  background-size: 16px 16px;
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
  margin: 0 2px;
}

.markdown p {
  @apply md:my-5 my-3;
}