@import './var.css';
@import './font.css';

/* @tailwind base; */
@tailwind components;
@tailwind utilities;

html,
body {
  background-color: var(--color-gentle);
  padding: 0;
  margin: 0;
  font-family: ST H, FZ YouHei, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

code:not([class*="language-"]) {
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', ui-monospace,  monospace;
  background-color: #ede3d5;
  @apply text-xs font-bold;
}

::selection {
  color: #AF5C09;
  background: #f2e2cb;
}